{% extends 'base.html' %}
{% load static%}

{% block content%}

<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <h3>Сброс пароля отправлен</h3>

            <p>Мы отправили вам по электронной почте инструкции по установке пароля, если существует учетная запись с указанным вами адресом электронной почты. Вы должны получить их в ближайшее время.</p>
            <br>
            <p>Если вы не получили электронное письмо, убедитесь, что вы ввели адрес, под которым зарегистрировались, и проверьте папку со спамом.</p>
        </div>
    </div>
</main>

{% endblock %}