{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    <main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">
                <form method="POST" class="form" action="{% url 'jobs:job-delete' job.id %}">
                    <a class="backButton" href="{% url 'jobs:job' job.id %}">
                        <i class="im im-angle-left"></i>
                    </a>
                    {% csrf_token %}
                    <p>Вы уверены, что хотите удалить это? <strong>"{{ job.title }}"</strong>?</p>
                    <input class="btn btn--sub btn--lg  my-md" type="submit" value="Удалить"/>
                </form>
            </div>
        </div>
    </main>
{% endblock %}